<!-- Please refer to the given js fiddle link for the js and other requirements for the solid guage chart
and given below is the same js but with the series-data value replaced by a method call to specify where to call the method. -->

https://jsfiddle.net/5v896ake/3/
<br />
<br />
<br />

<%= @query.guage_value(@rows) %>
<!-- this code is for solid guage -->
<script>
var gaugeOptions = {
    chart: {
        type: 'solidgauge'
    },

    title: null,

    pane: {
        center: ['50%', '85%'],
        size: '140%',
        startAngle: -90,
        endAngle: 90,
        background: {
            backgroundColor:
                Highcharts.defaultOptions.legend.backgroundColor || '#EEE',
            innerRadius: '60%',
            outerRadius: '100%',
            shape: 'arc'
        }
    },

    exporting: {
        enabled: false
    },

    tooltip: {
        enabled: false
    },

    // the value axis
    yAxis: {
        stops: [
            [0.1, '#55BF3B'], // green
            [0.5, '#DDDF0D'], // yellow
            [0.9, '#DF5353'] // red
        ],
        lineWidth: 0,
        tickWidth: 0,
        minorTickInterval: null,
        tickAmount: 2,
        title: {
            y: -70
        },
        labels: {
            y: 16
        }
    },

    plotOptions: {
        solidgauge: {
            dataLabels: {
                y: 5,
                borderWidth: 0,
                useHTML: true
            }
        }
    }
};

// The speed gauge
var chartSpeed = Highcharts.chart('container-speed', Highcharts.merge(gaugeOptions, {
    yAxis: {
        min: 0,
        max: 100,
        title: {
            text: 'Overall Percentage'
        }
    },

    credits: {
        enabled: false
    },

    series: [{
        name: 'Overall Percentage',
        data: <%= @query.guage_value(@rows) %>,
        dataLabels: {
            format:
                '<div style="text-align:center">' +
                '<span style="font-size:25px">{y}</span><br/>' +
                '<span style="font-size:12px;opacity:0.4">%</span>' +
                '</div>'
        },
        tooltip: {
            valueSuffix: ' %'
        }
    }]

}));
</script>
<!-- the following code is for nps chart -->
<% payload = {
      'min'=> -100,
      'max'=> 100,
      'ranges'=> [{
        'from'=> -100,
        'to'=> -10,
        'color'=> '#D9534F'
      }, {
        'from'=> -10,
        'to'=> 0,
        'color'=> '#F0AD4E'
      }, {
        'from'=> 0,
        'to'=> 100,
        'color'=> '#5CB85C'
      }]
    }.to_json %>

    <%=  payload %>
    <br />
    <br />
    <br />
    <%= @query.nps_range(payload) %>